modules = ["python-3.12"]
run = "gunicorn app:app & python3 bot.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "gunicorn app:app & python3 bot.py"]

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 46573048
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn app:app --bind 0.0.0.0:5000 &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 bot.py"
